.pokimon-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
    width: 100%;
}

.pokemon-list-wrapper h1 {
    text-align: center;
    font-family: cursive;
    font-weight: 300;
    font-size: 1.8rem;
    width: fit-content;
    margin: 1rem auto;
    text-shadow: 1px 1px 2px rgba(178, 0, 172, 0.6);
}

h1::first-letter {
    font-size: larger;
    color: red;
}

.pokimon-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.controls-btn {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.controls-btn button{
    padding: .5rem 1.5rem;
}