/* Page 404 CSS */

.page_404 {
    padding: 50px 0;
    background: #fff;
    font-family: "Arvo", serif;
    width: 100%;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .col-sm-10 {
    position: relative;
    width: 83.33333333%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
.h2{
    margin: 20px;
    font-size: 1.5rem;
}

  .four_zero_four_bg h1 {
    font-size: 80px;
  }
  
  .four_zero_four_bg h3 {
    font-size: 80px;
  }
  
  .link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
  }
  
  .contant_box_404 {
    margin-top: -50px;
  }
  

  .capitalize{
    text-transform: capitalize;
  }